.Noticias {
position: fixed;
background: rgb(255, 255, 255);
width: 250px;
height: 650px;
border-radius: 20px;
border: 1px solid rgb(201, 201, 201);
padding-top: 10px;
}

.newsData {
margin-top: 16px;
margin-bottom: -50px;
}

.newsPicture {
width: 100%;
object-fit: cover;
border-radius: 20px;
height: 150px;
background-color: black;
}

.newsData{
opacity: 70%;
}

.newsData:hover {
opacity: 100%;
cursor: pointer;
font-weight: bold;
font-weight: bold;
cursor: pointer;
}
    

.newsLetter {
color: #ffffff;
margin-top: -25px;
font-weight: bold;
}

.footerData {
display: flex;
margin: 655px 15px 3px;
text-align: center;
position: fixed;
opacity: 60%;
}

.footerData:hover {
opacity: 100%; 
}


.footerDataText {
display: flex;
font-size: 11px;
font-weight: bold;
color:#555;
text-align: center;
}
