.grid-container {
padding-top: 10px;
/* display: grid; */
/* grid-template-areas: "firstColum secondColum";
grid-template-columns: 614px 293px; */
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
gap: 20px;
background-color: rgb(231, 231, 231);
text-align: center;
}

/* .first-column {

}

.second-column {


} */