
.container2{
  background: linear-gradient(#84239c, #f86dec);
  border: none;
  height: 100%;
  width: 100%;

}

textarea:focus, input:focus {
   outline: none;
  }
    

.container3 {
        display: flex;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
        border: none;
        background-color: rgba(255, 225, 225, 0.5);
        box-shadow: 0.5px 0.5px 3px #f596fd;
        color: rgb(242, 191, 255);
}

.input2 {
  text-decoration: none;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  text-align: center;
}
    
  
  .logopeq {
  height: 40px;
}


  .menutopo {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    margin-top:-20;
    height:55px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background:transparent;
  }


  .menutopo {
    background-color:#84239c;
  }


.menu2 {
flex-direction: row;
color: rgb(253, 183, 230);
font-size: 14px;
align-items: center;
margin-right: 20px;
text-decoration: none;
height: 90%;
}

.perfil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  opacity: 90%;
}

.perfil:hover {
  width: 37px;
  height: 37px;
  opacity: 100%;
  }

.menu2:hover {
color:rgb(248, 236, 244);
}


.timeline2 {
 background-color: rgb(248, 236, 244);
 width: 100vw;
 height: 100vw;
}

.image2 {
  background: linear-gradient(#84239c, transparent);
  background: linear-gradient(#84239c, #f86dec);
  height: 198px;
  width: 100vw;
  margin-top: 0;
};
    
