.containerPopUp {
position: fixed;
top:0;
left:0;
height: 100vh;
width: 100%;
background-color: rgba(52, 52, 52, 0.8);
    
display: flex;
justify-items:center;
align-items:center;
}

.popUp {
position: relative;
padding: 32px;
background-color: #fff;
width: 640px;
border-radius: 20px;
height: 50vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 200px;
margin-left: 30vw;
}

.closePopUp {
position:absolute;
top: 15px;
right: 16px;
size: 25px;
border: 1px solid linear-gradient(#84239c, #f86dec);
border-radius: 50%;
display: flex;
justify-content: center;
padding: 5px;
}
/* 

.containerPublicar {
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 30px 35px 5px 5px;
    width: 100vw;
    border-radius: 30px;
    opacity: 100%;
    gap: 10px;
}
    
.imageIcons {
color: #222;
gap: 10px;
display: flex;
flex-direction: row;
}

.ImageLoading11 {
margin-right: 10px;
}

.ImageLoading22 {
    
}

.imagesInput {


}

.input22 {
border-radius: 20px;
border: 1px solid rgb(123, 9, 151);
padding: 5px 30px 5px 30px;
}

 .input22 .placeholder {

} 





 */