*{
font-family: sans-serif;
margin: 0;
padding: 0;
outline: none;
background: none;
box-sizing: border-box;
text-decoration: none;
}

html, body, #root {
flex-grow: 1;
max-width: 100vw;
max-height: 100vh;

width: 100%;
height: 100%;
}

textarea:focus, input:focus {
    outline: none;
};
